{% extends '_base.html' %}
{% load crispy_forms_tags %}
{%block page_title%}
Login
{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-3" id="main_signin_container">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow" id="signin_container">
        <h3>Password Reset</h3>
         <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="Submit">Submit your new password</button>
        </form>
        <div class="icons">
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</div>
<style>
#signin_container button{
    border-radius: 1rem;
    width: 100%;
    background-color: crimson;
    color: cornsilk;
    border: none;
    margin-top: 1rem;
}
#signin_container .icons{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#signin_container .icons a:first-child{
    font-size: 2.2rem;
    color:#3f729b;
}
#signin_container .icons a:last-child{
    font-size: 2.2rem;
    color: black;
}
</style>
{% endblock content %}

