{% extends '_base.html' %}

{%block page_title%}
Signup
{% endblock page_title %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
    <style>
        form{
            background-color: navajowhite;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        button{
            background-color: #003366;
        }
    </style>
{% endblock content %}
