.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    direction: rtl;
    margin-top: 10%;
    font-size: 1.1rem;
    font-weight: bold;
    background-color:black;
    color: white;
}
.footer p{
    margin: 2%;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    gap: 1%;
    margin-left: 5%;
    text-decoration: none;
}
.icon a{
    color:  #d11b27;
    font-size: 3rem;
    margin-bottom: 3%;
}
@media screen and (min-width:600px) {
    .icon{
        font-size: 4rem;
        gap: 1%;
        margin-left: 5%;

    }
    .icon a{
    margin-bottom: 3%;
}
}