.post_detail{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
#each_comments_box{
    border: 3px solid #d11b27;
    padding: 5%;
}
@media screen and (min-width:640px){
    .post_detail{
        margin-left: 20%;
        margin-right: 20%;
    }
}