* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Basic design of blog card */
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Blog post design starts from here */
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2; /* Card outline shadow */
    background: white; /* post background color */
    border-radius: 0.5rem;
    position: relative;
    width: 600px; /* post card width */
    margin: 1rem;
    cursor: pointer;
  }

  /*Design banner image*/
  .banner-img {
    object-fit: cover;
    width: 100%;
    height:100%;
  }

  /* Design catagory text */
  .category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white; /* text color */
    background: red;  /* text background color */
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }

  /* 1st catagory text background color */
  .popular {
    background: #ef257a;
  }

  /* 2st catagory text background color */
  .technology {
    background: #651fff;
  }

  /* 3st catagory text background color */
  .psychology {
    background: #e85808;
  }

  /* Design of # tags, heading, description starts from here */
  .card-body {
    margin: 1rem;
  }

  /* #tags design */
  .blog-hashtag {
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d97b2;
  }

  /* heading design */
  .blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 2rem 0;
  }

  /* description design */
  .blog-description {
    font-size: 1.2rem;
  }

  /*Design of profile image, name, followers starts from here*/
  .card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }
  /* instagram and github icon */
    .icon{
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        gap: 10px;
        margin-left: 3%;
        text-decoration: none;
        margin-top: 10%;
    }
    .icon a{
        color: #d11b27;
        font-size: 4rem;
        margin-bottom: 3%;
    }





/* comment section*/
.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.comment{
    background-color: white;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    border: solid 5px #f7f7f5;

}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}

.comment p,.comment span,.darker p,.darker span{
    color: black;
}

#main_comment_container h1,#main_comment_container h4{
    color:black;
    font-weight: bold;
}
label{
    color: black;
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
}

#checkbx{
    background-color: white;
}

#darker img{
    margin-right: 15px;
    position: static;
}

.form-group input,.form-group textarea{
    background-color: white;
    border-radius: 12px;
}

.comment_form{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 3px 3px #888888;
 }
#comment_box{
 box-shadow: 1px 1px 3px 3px #888888;
}
/* End comment section*/

/* options */
.options{
    font-size: 2rem;
    gap: 3px;
    display: flex;
    flex-direction: row;
}
.options a{
    color: #003366;
}
.favorite_post_button, .publish_button{
    background: none;
    padding: 0;
    border: none;
    color:#003366;
    margin-left: 1px;
}
#username_in_comments{
    margin-left: 4px;
}
form{
    width: 50%;
}