{% extends '_base.html' %}
{% load crispy_forms_tags %}
{%block page_title%}
add_post
{% endblock page_title %}

{% block content %}
<div class="post_container">
    <div class="post">
        <div class="card shadow my-3 p-5">
            <h3>Edit your comments:</h3>
            <form method="POST">
                {% csrf_token %}
                <table>
                    <ul>{{ form|crispy }}</ul>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}