{% extends '_base.html' %}
{% load crispy_forms_tags %}
{%block page_title%}
Login
{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-3" id="main_signin_container">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow" id="signin_container">
            <h5>Are you sure you want to delete "{{ post.title }}"?</h5>
             <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-danger" type="submit" value="Yes">
            </form>
            <h2>
                <span>
                    or
                </span>
            </h2>
            <button><a href="{{ get_success_url }}">No</a></button>
        </div>
    </div>
<style>
#signin_container button{
    text-decoration: none;
    background-color: deepskyblue;
    border: none;
    height: 20%;
    width: 20%;
}
#signin_container button a{
    text-decoration: none;
    color: white;
    text-align: right;
}
#signin_container h2{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin-bottom: 1rem;
}
#signin_container span{
    background-color: whitesmoke;
    padding: 0 10px;
    position: relative;
    font-size: 1.1rem;
}
#signin_container span{
    background-color: whitesmoke;
    padding: 0 10px;
    position: relative;
    font-size: 1.1rem;
}
#signin_container h5{
    margin-bottom: 1rem;
}
</style>
{% endblock content %}






































