{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
     <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{%block page_title%}
post_detail
{% endblock page_title %}

{% block content %}
     <div class="wrapper">
        <div class="card">
            <div class="card-banner">
                <img class="banner-img" src='{{ post_detail.image_post.url }}' alt='Banner'>
            </div>
            <div class="card-body">
                <h2 class="blog-title">{{ post_detail.title }}</h2>
                <h4>by {{ post_detail.author }}</h4>
                <h4>{{ post_detail.date_created }}</h4>
                <p class="blog-description">
                    {{ post_detail.text|safe }}
                </p>
                <div class="options">
                    {% if user.id == post_detail.author.id %}
                        <div>
                            <a href="{% url 'post_edit_option' post_detail.id%}"><i class="fa fa-edit"></i></a>
                             <a href="{% url "post_delete_option" post_detail.id %}"><i class="far fa-trash-alt"></i></a>
                        </div>
                         <div>
                             <form method="post" action="">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="publish_button" type="submit" value="yes" onclick="this.disabled=true;this.form.submit();">
                                    <i class="fa fa-file-o"></i></button>
                             </form>
                         </div>
                    {% endif %}
                </div>
                <div class="icon">
                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}