{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{%block page_title%}
post_detail
{% endblock page_title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="card">
            <div class="card-banner">
                <img class="banner-img" src='{{ post_detail.image_post.url }}' alt='Banner'>
            </div>
            <div class="card-body">
                <h2 class="blog-title">{{ post_detail.title }}</h2>
                <h4>by {{ post_detail.author }}</h4>
                <h4>{{ post_detail.date_created }}</h4>
                <p class="blog-description">
                    {{ post_detail.text }}
                </p>
                <div class="options">
                    {% if user.id == post_detail.author.id %}
                        <div>
                             <a href="{% url "post_edit_option" post_detail.id %}"><i class="far fa-edit"></i></a>
                            <a href="{% url "post_delete_option" post_detail.id %}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    {% endif %}
                     {% if user.is_authenticated %}
                         <div>
                          {% if not fav %}
                            <form method="post" action="">
                                {% csrf_token %}
                                {{ fav_form|crispy }}
                                <button class="favorite_post_button" type="submit" value="yes" onclick="this.disabled=true;this.form.submit();"><i class="far fa-heart"></i></button>
                            </form>
                          {% elif fav %}
                              <a href="{% url 'delete_fav_user_post' post_detail.id %}" class="mt-2"><i class='fas fa-heart'></i></a>
                          {% endif %}
                         </div>
                    {% endif %}
                </div>
                <div class="icon">
                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="main_comment_container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="text-justify darker mt-4 float-right">
                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Rob Simpson</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="comment mt-4 text-justify">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="darker mt-4 text-justify">
                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Rob Simpson</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea name="msg" id=""msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="fullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                    </div>
                    <div class="form-inline">
                        <input type="checkbox" name="check" id="checkbx" class="mr-1">
                        <label for="subscribe">Subscribe me to the newlettter</label>
                    </div>
                    <div class="form-group">
                        <button type="button" id="post" class="btn">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}