{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
     <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}


{%block page_title%}
post_detail
{% endblock page_title %}


{% block content %}
    <div class="post_detail_container">
        <div class="post_detail">
            <div class="card shadow my-3 p-5">
                <h1>{{ post_detail.title }}</h1>
                <p class="small text-muted mt-2">By {{post_detail.author}}</p>
                <p class="mt-2">{{post_detail.text}}</p>
                {% if user.is_authenticated %}
                    {% if not fav %}
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ fav_form|crispy }}
                            <button type="submit" value="yes">add to your favorite</button>
                        </form>
                    {% elif fav %}
                        <a href="{% url 'delete_fav_user_post' post_detail.id %}" class="mt-2">Remove from your favorite</a>
                    {% endif %}
                {% endif %}
                {% if post_detail.author.id == user.id %}
                    <div>
                        <a href="{% url "post_edit_option" post_detail.id %}" class="btn btn-sm btn-warning">Edit</a>
                    </div>
                    <div>
                        <a href="{% url "post_delete_option" post_detail.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                {% endif %}
            </div>
            {% if comments %}
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100" id="comments_box">
                         {% for i in comments %}
                            {% if i.is_active %}
                                <div id="each_comments_box">
                                    <h5 class="mb-3">{{ i.user.username }}</h5>
                                    {% if i.recommended %}
                                        <div class="happy_face"><h6 class="mb-3">:)</h6></div>
                                    {% elif not i.recommended %}
                                        <div class="sad_face"><h6 class="mb-3">:(</h6></div>
                                    {% endif %}
                                    <h6 class="mb-3">release: {{ i.datetime_comment }}</h6>
                                    <p>{{ i.comment_text|linebreaks }}</p>
                                    {% if i.user.id == user.id %}
                                        <span><a href="{% url 'comment_update_view' post_detail.id i.id %}">Edit</a> |
                                        <a href="{% url 'comment_delete_view' post_detail.id i.id %}">Delete</a></span>
                                    {% endif %}
                                </div>
                            {% endif %}
                         {% endfor %}
                    </div>
                </div>
            {% elif not comments %}
                <div class="card shadow my-3 p-5">
                    <h3>There is no comment for this post yet! Be the First one :)</h3>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                 <div class="card shadow my-3 p-5">
                    <h3>Add new comment:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                 </div>
            {% elif not user.is_authenticated %}
                 <div class="card shadow my-3 p-5">
                 for writing comments please <span><a href="{% url 'signup' %}">Sign IN</a> |
                     <a href="{% url 'login' %}">Login</a></span> first!!!
                 </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}