{% extends '_base.html' %}
{% load static %}
{% block page_title %}
{{ page_title }}
{% endblock page_title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}
     <div class="main_container">
        <aside>
              <div class="authors_section">
                     <h3>Authors</h3>
                    {% for author in authors %}
                        <img class="profile-img" src="{{ author.userprofilepic.get_user_profile_image }}" alt="user_avatar" />
                        <div class="card-profile-info">
                            <h2 class="profile-name">
                                <a href="{% url 'each_authors_view' author.id %}">{{ author.username}}</a>
                                <span>~ {{ author.author_post.all.count }}</span></h2>
                        </div>
                    {% endfor %}
                    <a href="{% url 'all_authors_view' %}"><span class="dot">...</span></a>
              </div>
          <div class="homepage_aside">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sit qui atque nisi cupiditate. Ab consequatur id animi quos saepe ea aliquid itaque, placeat eaque, dolores doloribus, tempora delectus quae!
            Laboriosam voluptatem eos eligendi sequi fugit tempora magnam deserunt quasi nobis perferendis quas nesciunt, nihil, doloremque unde. A doloribus earum dolorum totam repellat architecto eius fugit possimus perspiciatis. Aliquid, nihil!
            Error, ipsam ad earum velit voluptate quasi labore. Deleniti autem ipsam sunt placeat voluptate quam, culpa non impedit error ratione libero dignissimos minima quia, et quibusdam tempore repudiandae quas. Possimus.
            Porro ipsum reiciendis asperiores numquam iure accusantium dicta inventore cumque quaerat veniam voluptatum maxime, tenetur eaque deserunt. Odio possimus aperiam hic iusto molestiae eveniet? Quidem cumque pariatur tempore culpa possimus.
          </div>
        </aside>
        <div class="post_news">
            <section class="post">
                <div class="wrapper">
                    {% for i in post %}
                        <div class="card">
                            <div class="card-banner">
                                <p class="category-tag popular">{{ i.title }}</p>
                                <img class="banner-img" src='{{ i.image_post.url }}' alt='Banner'>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'post_detail_view' i.id %}"><h4 class="blog-title"> {{ i.text|truncatewords:20|safe }}</h4></a>
                                <p class="blog-description">
                                    <span>{{ i.date_created }}</span>
                                    <br>
                                    <span>Last modified: {{ i.datetime_modified }}</span>
                                </p>
                                <div class="card-profile">
                                    <img class="profile-img" src="{{ i.get_each_post_author_profile_image }}" alt="user_avatar" />
                                    <div class="card-profile-info">
                                        <h2 class="profile-name">By {{ i.author }}</h2>
                                    </div>
                                </div>
                                <div class="icon">
                                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                                    <a href="#"><i class="fa-brands fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
     <nav aria-label="Page navigation">
        <ul class="pagination  justify-content-center mt-3">
        {% if post.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ post.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ post.number }}">{{ post.number }}</a></li>
        {% if post.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ post.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
     </nav>
    <style>
        nav{
            text-align: center;
        }
        .authors_section{
            margin: 5px 0 5px 0;
            text-align: center;
        }
        .dot{
            font-size: 4rem;
        }
    </style>
{% endblock content %}


