{% extends '_base.html' %}
{% block page_title %}
Post list
{% endblock page_title %}
{% block content %}
    <div class="container mt-4">
        <h1>Favorites</h1>
        <div class="row">
            {% if user_fav_post %}
            <div class="col-9">
                {% for i in user_fav_post %}
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">By {{i.author}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{i.date_created}}</h6>
                        <p class="card-text py-3">{{i.text}}</p>
                        <div class="btn btn-sm">
                            <a href="{% url "post_detail_view" i.id %}">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
             <div class="col-3">
                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>
            </div>
            {% elif not user_fav_post %}
                 <div class="d-flex justify-content-center mt-3" id="main_signin_container">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow" id="signin_container">
                        <h2>you have no favorite post :(</h2>
                        <h5><a href="{% url 'post_view_of_blog' %}">Check it out</a></h5>
                        <div class="icons">
                            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <style>
    #signin_container .icons{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #signin_container .icons a:first-child{
        font-size: 2.2rem;
        color:#3f729b;
    }
    #signin_container .icons a:last-child{
        font-size: 2.2rem;
        color: black;
    }
    </style>
{% endblock content %}


