{% extends '_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block page_title %}
    Post list
{% endblock page_title %}

{% block content %}
    {% if user_fav_post %}
         <div class="main_container">
            <div class="post_news">
                <section class="post">
                    <div class="wrapper">
                        {% for i in user_fav_post %}
                            <div class="card">
                                <div class="card-banner">
                                    <p class="category-tag popular">{{ i.title }}</p>
                                    <img class="banner-img" src='{{ i.image_post.url }}' alt='Banner'>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'post_detail_view' i.id %}"><h4 class="blog-title"> {{ i.text|truncatewords:20|safe }}</h4></a>
                                    <p class="blog-description">
                                        <span>{{ i.date_created }}</span>
                                        <br>
                                        <span>Last modified: {{ i.datetime_modified }}</span>
                                    </p>
                                    <div class="card-profile">
                                        <img class="profile-img" src="{{ i.get_each_post_author_profile_image }}" alt="user_avatar" />
                                        <div class="card-profile-info">
                                            <h2 class="profile-name">By {{ i.author }}</h2>
                                        </div>
                                    </div>
                                    <div class="icon">
                                        <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                                        <a href="#"><i class="fa-brands fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
         <nav aria-label="Page navigation">
            <ul class="pagination  justify-content-center mt-3">
            {% if user_fav_post.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ user_fav_post.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ user_fav_post.number }}">{{ user_fav_post.number }}</a></li>
            {% if user_fav_post.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ user_fav_post.next_page_number }}">Next</a></li>
            {% endif %}
            </ul>
        </nav>
    {% elif not user_fav_post %}
         <div class="container">
            <h3>you have no favorite post :(</h3>
            <h5><a href="{% url 'post_view_of_blog' %}">Check it out</a></h5>
            <div class="draft_icon">
                <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
         </div>
    {% endif %}
    <style>
         nav{
             text-align: center;
         }
         .container {
          padding: 2px 16px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          width: 500px;
          margin-top: 20px;
            text-align: center;
        }
        .draft_icon{
            display: flex;
            flex-direction: row;
            font-size: 1.5rem;
            gap: 7px;
            justify-content: center;
            text-decoration: none;
            margin-top: 10%;
            direction: rtl;
        }
        .draft_icon a {
        color: #d11b27;
        font-size: 5rem;
        margin-bottom: 3%;
        }
    </style>
{% endblock content %}


