{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/delete_card.css' %}">
{% endblock %}
{%block page_title%}
Remove avatar
{% endblock page_title %}

{% block content %}
    <section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 offset-sm-3 offset-md-4">
					<div class="info-card info-card--danger bg-white text-center mb-4 rounded-lg">
						<div class="info-card_icon mx-auto mb-4 d-flex justify-content-center align-items-center position-relative">
							<i class="fa fa-trash"></i>
						</div>
						<h2 class="mb-4">Delete action?</h2>
						<div class="mb-4">
                            <h4>Do you want to delete your current profile photo?</h4>
                            <div class="buttons_positions">
                                <div class="button_cancel">
                                  <a href="{% url 'user_profile_view' %}"><button class="btn btn-secondary">Cancel</button></a>
                                </div>
                                <div class="button_delete">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}






































