{% extends '_base.html' %}
{% load crispy_forms_tags %}
{%block page_title%}
User_profile
{% endblock page_title %}

{% block content %}
    <div class="post_container">
        <div class="post">
            <div class="card shadow my-3 p-5">
                <h3>Edit Profile</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
                <a href="{% url 'user_profile_view' %}">back to your previous profile page</a>
            </div>
        </div>
    </div>
    <style>
        form{
            border: #003366 solid 1px;
            padding: 1rem;
            font-size: 1.1rem;
        }
    </style>
{% endblock content %}




















































