{% extends '_base.html' %}
{% load crispy_forms_tags %}
{%block page_title%}
upload_user_profile
{% endblock page_title %}

{% block content %}
     <div class="container">
         <h3>Profile Picture</h3>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
             <button type="submit" class="btn btn-primary mt-3">fix your profile photo</button>
        </form>
        <a href="{% url 'user_profile_view' %}">back to your previous profile page</a>
     </div>
    <style>
        .container {
          padding: 2px 16px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          width: 500px;
          margin-top: 20px;
            text-align: center;
        }
    </style>
{% endblock content %}




















































