{% extends '_base.html' %}
{%block page_title%}
{% load static %}
User_profile
{% endblock page_title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'js/profile.js' %}">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="ds-top"></div>
          <div class="avatar-holder">
                {% if user_pic %}
                    {% for i in user_pic %}
                        <img src="{{ i.profile_pic.url }}" ALT="Avatar">
                    {% endfor %}
                {% elif not user_pic %}
                    <img src="{% static 'images/img_avatar.png' %}" ALT="Avatar">
                {% endif %}
          </div>
          <div class="name">
            <a href="{% url 'user_post_view' %}" target="_blank">{{ user.username }}</a>
          </div>
          <div class="button">
              <span>
                  <a href="{% url 'edit_user_profile_view' %}">Edit Profile</a> ||| <a href="{% url "update_user_profile_pic" %}">Change Avatar</a>
              </span>
          </div>
          <div class="ds-info">
            <div class="ds pens">
              <h6 title="Number of pens created by the user">Posts</h6>
              <p>{{ user_post }}</p>
            </div>
            <div class="ds projects">
              <h6 title="Number of projects created by the user">favorite posts</h6>
              <p>{{ user_fav_post }}</p>
            </div>
            <div class="ds posts">
              <h6 title="Number of posts">draft inbox</h6>
              <p>{{ user_draft_inbox }}</p>
            </div>
          </div>
    </div>
{% endblock content %}




















































